<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://www.blueprintcss.org/blueprint/screen.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="script.js"></script>
</head>
<body ng-controller="MainController">

<div>
  <form>
    <label>
      Nome:
      <input type="text" id="input-bear" ng-model="Bear.name">
    </label>
    <input type="submit" id="btn-save" value="Save" ng-click="saveBear()">
    <input type="submit" value="Clear" ng-click="clearForm()">
  </form>
</div>
  <hr>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bear in bears">
        <td>{{ bear.name }}</td>
        <td>{{ bear._id }}</td>
        <td>
          <a href ng-click="editBear(bear._id, bear.name)">Edit</a> |
          <a href ng-click="deleteBear(bear._id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</body>
</html>